# MongoDB Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/

# Authentication
NEXTAUTH_SECRET=your_nextauth_secret_here

# ImageKit Configuration
NEXT_PUBLIC_PUBLIC_KEY=your_imagekit_public_key_here
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key_here
NEXT_PUBLIC_URL_ENDPOINT=your_imagekit_url_endpoint_here

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_test_YTMptZO2Jh089I
RAZORPAY_KEY_SECRET=n14UJhOeJOab0r3KGRCUB8ED
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret_here

# Mailtrap Configuration
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USER=a39c744c3b6b38
MAILTRAP_PASS=7d67c310152a45
